.pagination
  ul.pagination__list
    li.pagination__item.pagination__item--prev-next-btn.disabled
      span
        +icon('rl-arrow', 'mono')
        span Older <em class='no-mobile'>post</em>
    li.pagination__item.pagination__item--num
      span 1
    li.pagination__item.pagination__item--num
      span 2
    li.pagination__item.pagination__item--num
      span 3
    li.pagination__item.pagination__item--dots
      span …
    li.pagination__item.pagination__item--num
      span 8
    li.pagination__item.pagination__item--prev-next-btn
      span
        span Next <em class='no-mobile'>post</em>
        +icon('lr-arrow', 'mono')
