section.hero
  .hero__inner
    .container
      .hero__header
        h4.h4-title.h4-title--primary
          | Vehicle
        h1.h1-title.hero__title
          | One of Saturn&#8217;s largest rings <br>
          | may be newer than anyone
        ul.hero__meta
          li.hero__item June 6, 2019
          li.hero__item
            | <span>By</span> Rickie Baroch
          li.hero__item
            a(href='#') 4 comments
