ul.aside-media
  li.aside-media__item
    a.aside-media__item-inner(href='#')
      .aside-media__icon
        +icon('facebook-logo', 'mono')
      p.aside-media__followers
        | 32k <br>likes
  li.aside-media__item
    a.aside-media__item-inner(href='#')
      .aside-media__icon
        +icon('pinterest-logo', 'mono')
      p.aside-media__followers
        | 814 <br>followers
  li.aside-media__item
    a.aside-media__item-inner(href='#')
      .aside-media__icon
        +icon('vimeo-logo', 'mono')
      p.aside-media__followers
        | 165 <br>followers
  li.aside-media__item
    a.aside-media__item-inner(href='#')
      .aside-media__icon
        +icon('dribble-logo', 'mono')
      p.aside-media__followers
        | 6k <br>followers
  li.aside-media__item
    a.aside-media__item-inner(href='#')
      .aside-media__icon
        +icon('twitter-logo', 'mono')
      p.aside-media__followers
        | 130k <br>followers
  li.aside-media__item
    a.aside-media__item-inner(href='#')
      .aside-media__icon
        +icon('behance-logo', 'mono')
      p.aside-media__followers
        | 37k <br>followers
  li.aside-media__item
    a.aside-media__item-inner(href='#')
      .aside-media__icon
        +icon('instagram-logo', 'mono')
      p.aside-media__followers
        | 854k <br>followers
  li.aside-media__item
    a.aside-media__item-inner(href='#')
      .aside-media__icon
        +icon('youtube-logo', 'mono')
      p.aside-media__followers
        | 52k <br>subscribers
  li.aside-media__item
    a.aside-media__item-inner(href='#')
      .aside-media__icon
        +icon('google-logo', 'mono')
      p.aside-media__followers
        | 642 <br>followers
