// Do not specify units of measurement in this varriables
$layout-width: 1920; // <<- Layout full width
$content-width-no-units: 1170; // <<- Layout container width
$container-offset-no-units: 20; // <<- Container left and right padding
$container-width-no-units: $content-width-no-units + ($container-offset-no-units * 2);

$content-width: $content-width-no-units * 1px;
$container-offset: $container-offset-no-units * 1px;
$container-width: $content-width + ($container-offset * 2);

// Breakpoints
// Breakpoints are written as a fraction for mobile-first to work correctly.
$breakpoint1440: 1439.98px;
$breakpoint1248: 1247.98px;
$breakpoint1024: 1023.98px;
$breakpoint768: 767.98px;
$breakpoint640: 639.98px;
$breakpoint560: 559.98px;
$breakpoint480: 479.98px;
$breakpoint400: 399.98px;

// Basic colors
$gray-100: hsl(0, 0%, 10%);
$gray-350: hsl(0, 0%, 35%);
$gray-400: hsl(0, 0%, 40%);
$gray-600: hsl(0, 0%, 60%);
$gray-700: hsl(0, 0%, 70%);
$gray-900: hsl(0, 0%, 90%);
$gray-950: hsl(210, 17%, 98%);
$white: hsl(0, 0%, 100%);

$color-orange: hsl(39, 46%, 61%);

// Semantic colors
$color-main: $color-orange;
$text-color: $gray-100;
$body-bg: $white;

// Fonts
$font-size: rem(14);
$font-size-sm: 0.8em;
$font-family: 'PTSerif', serif;
$font-family-secondary: 'PTSans', sans-serif;
$font-family-pagination: 'HKGrotesk', serif;

// Main-navigation styles
$nav-color: $color-main;
$nav-text-color: $text-color;
$nav-text-color-active: $color-main;
$nav-opened-text-color: $gray-100;
$nav-font-size: $font-size;
$nav-opened-font-size: rem(24);

$burger-color: $text-color;
$burger-color-active: $text-color;

// Z-index
$zi-dropdown: 1000;
$zi-sticky: 1020;
$zi-fixed: 1030;
$zi-modal-backdrop: 1040;
$zi-offcanvas: 1050;
$zi-modal: 1060;
$zi-popup: 1070;
$zi-tooltip: 1080;
