section.gallery
  .container.container--fluid
    h2.h2-title.gallery__title Follow our @instagram_name
    ul.gallery__pics
      li.gallery__pic
        a(href='#')
          img(src='@img/prefooter-gallery/pic1.png', loading='lazy', alt='Picture 1')
      li.gallery__pic
        a(href='#')
          img(src='@img/prefooter-gallery/pic2.jpg', loading='lazy', alt='Picture 2')
      li.gallery__pic
        a(href='#')
          img(src='@img/prefooter-gallery/pic3.png', loading='lazy', alt='Picture 3')
      li.gallery__pic
        a(href='#')
          img(src='@img/prefooter-gallery/pic4.png', loading='lazy', alt='Picture 4')
      li.gallery__pic
        a(href='#')
          img(src='@img/prefooter-gallery/pic5.png', loading='lazy', alt='Picture 5')
      li.gallery__pic
        a(href='#')
          img(src='@img/prefooter-gallery/pic6.png', loading='lazy', alt='Picture 6')
