mixin aside-tag(text)
  a.aside__tag!= text

ul.aside__tags
  li
    +aside-tag('Business')
  li
    +aside-tag('Freelance')
  li
    +aside-tag('Money')
  li
    +aside-tag('Experience')
  li
    +aside-tag('Lifestyle')
  li
    +aside-tag('SEO')
  li
    +aside-tag('Wordpress')
  li
    +aside-tag('Marketing')
  li
    +aside-tag('UX')
  li
    +aside-tag('Modern')
  li
    +aside-tag('Success')
  li
    +aside-tag('Nature')
